# ml stuff
Pillow
fsspec[s3]
fsspec[gcs]
imutils
numpy
pytorch_lightning
wandb
webdataset

# jupyter notebook
aquirdturtle_collapsible_headings
ipympl
ipywidgets
jupyter_http_over_ws
jupyterhub
jupyterlab
jupyterlab-git
jupyterlab-lsp
notebook
python-lsp-server[all]

# additional useful
awscli
boto3
cloudpickle
cmake
cython
more-itertools
